body {
    background-image: url('/plan-class/public/img/fundo.jpg');
    background-size: cover; /* Para cobrir todo o plano de fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    font-family: 'figtree', sans-serif; /* Aplica a fonte figtree para o corpo */
    color: #fff; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding-top: 20%; /* Espaçamento superior para o cabeçalho */
    
}

.btn-custom {
    display: inline-block;
    background-color: rgb(169, 78, 44);
    width: 80px;
    height: 35px;
    color: #fff;
    text-decoration: none;
    padding-top: 8px;
    box-sizing: border-box;
}

.btn-custom:hover {
    background-color: rgba(101, 46, 10, 0.882);
}

.btn-cadastro {
    background-color:  rgb(169, 78, 44);
}

.painel {
    background-color: rgba(101, 46, 10, 0.882);
}